<nav class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-custom border-bottom border-bottom-lg-0 border-end-lg"
    id="navbarVertical">
    <div class="container-fluid">
        <button class="navbar-toggler ms-n2" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse"
            aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation"> <span
                class="navbar-toggler-icon"></span>
        </button> <a class="navbar-brand py-lg-2 mb-lg-5 px-lg-6 me-0 logo text-white text-center"
            routerLink="/"> SIHAM JD</a>
        <div class="collapse navbar-collapse" id="sidebarCollapse">

            <ul class="navbar-nav mb-md-4" *ngFor="let data of navData">
                <li *ngIf="data.roles.includes(getRoles() || 'vendedor')"  routerLinkActive="active" class="nav-item"> <a
                        class="nav-link d-flex text-white" routerLink="{{data.routeLink}}"> <i
                            class="{{data.icon}}"></i> {{data.label}}</a></li>
                
            </ul>
            <hr class="navbar-divider my-5 opacity-20">

            <div class="mt-auto"></div>
            <ul class="navbar-nav">
                <li>
                    <a class="nav-link d-flex align-items-center">
                        <div class="me-4">
                            <div class="position-relative d-inline-block text-white"> <span
                                    class="avatar bg-soft-warning text-warning rounded-circle">{{getLT1()}}{{getLT2()}}</span>
                                <span
                                    class="position-absolute bottom-2 end-2 transform translate-x-1/2 translate-y-1/2 border-2 border-solid border-current w-3 h-3 bg-success rounded-circle"></span>
                            </div>
                        </div>
                        <div> <span class="d-block text-sm font-semibold text-white">{{getFirstname()}}
                                {{getLastname()}}</span> <span
                                class="d-block text-xs text-muted font-regular">{{getRoles()}}</span> </div>
                    </a>
                </li>

                <li class="nav-item"> <a class="nav-link text-white" routerLink="user"> <i
                            class="bi bi-person-square"></i> Editar Perfil</a>
                        
                            
                                            
                                    

                <li class="nav-item"> <a class="nav-link text-white badge-error" (click)="logout()"> <i
                            class="bi bi-box-arrow-left "></i> Salir </a> </li>
            </ul>
        </div>
    </div>
</nav>