<app-header title="Articulos"></app-header>

<hr>
<div class="card shadow border-0 mb-7">
    <div class="card-header">
        <div class="row">
            <h5 class="mb-0 col">Articulos </h5>
                <app-modal [itemForm]="true" modalId="modal" (emitData)="newValue($event)" class="col text-sm-end"></app-modal>
        </div>
    </div>
    <app-table [colNames]="columnNames" [columns]="columns" [itemModal]="true" [rowData]="itemList" [operations]="op" (onEdit)="edit($event)" (onDelete)="delete($event)"></app-table>
</div>  