<div class="jumbotron h-100">
  <div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col-6 mx-auto">
        <div class="card h-100 border-primary justify-content-center">
          <div class="card-header px-lg-5">
            <div class="card-heading text-primary">
              <h3 class="text-center">SIHAM JD LOGIN</h3>
            </div>
          </div>
          <div class="card-body p-lg-5">
            <h3 class="mb-4">Bienvenido! 👋👋</h3>
            <p class="text-muted text-sm mb-5">Introduce tu usuario y contraseña por favor.</p>
            <form (ngSubmit)="login()" [formGroup]="loginForm">
              <div class="form-floating mb-3 form-group">
                <input class="form-control" id="floatingInput" type="email" formControlName="email"
                  placeholder="correo@gmail.com" >
                <label for="floatingInput">Correo</label>
              <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['required']" class="alert mt-3 alert-danger">El Correo es requerido</div>
              <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['minlength']" class="alert mt-3 alert-danger">El Correo debe de tener minimo {{loginForm.get('email')?.errors?.['minlength'].requiredLength}} caracteres</div>
              </div>
              <div class="form-floating mb-3 form-group">
                <input class="form-control" id="floatingPassword" type="password" formControlName="password"
                  placeholder="Contraseña">
                <label for="floatingPassword">Contraseña</label>
                <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']"  class="alert mt-3 alert-danger">La Contraseña es requerida</div>
                <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['minlength']"  class="alert mt-3 alert-danger">La contraseña debe de tener minimo {{loginForm.get('password')?.errors?.['minlength'].requiredLength}} caracteres</div>
              </div>
              <div class="alert alert-danger mb-3 px-1" *ngIf="error">{{message}}</div>
              <button class="btn btn-outline-primary btn-block w-100" type="submit" [disabled]="loginForm.invalid || isSubmiting">Acceder</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>