
    <div class="container d-flex vh-100 justify-content-md-center align-items-center">
        <div>
            <h2 class="text-dark mb-2">Editar mi <span class="text-primary">Usuario</span></h2>
            <div class="">
                <form (ngSubmit)="sendData()" [formGroup]="userForm">
                    <div class="row">
                      <div class="mb-3 form-floating form-group col">
                        <label for="firstname" class="col-form-label py-1">Nombre:</label>
                        <input type="text" class="form-control" id="firstname" formControlName="firstname">
                        <div *ngIf="userForm.get('firstname')?.touched && userForm.get('firstname')?.errors?.['required']"
                          class="alert mt-3 alert-danger">El nombre es requerido.</div>
                        <div *ngIf="userForm.get('firstname')?.touched && userForm.get('firstname')?.errors?.['minlength']"
                          class="alert mt-3 alert-danger">El nombre debe de tener minimo
                          {{userForm.get('firstname')?.errors?.['minlength'].requiredLength}} caracteres.</div>
                      </div>
                      <div class="mb-3 form-floating form-group col">
                        <label for="lastname" class="col-form-label py-1">Apellido:</label>
                        <input type="text" class="form-control" id="lastname" formControlName="lastname">
                        <div *ngIf="userForm.get('lastname')?.touched && userForm.get('lastname')?.errors?.['required']"
                          class="alert mt-3 alert-danger">El apellido es requerido.</div>
                        <div *ngIf="userForm.get('lastname')?.touched && userForm.get('lastname')?.errors?.['minlength']"
                          class="alert mt-3 alert-danger">El apellido debe de tener minimo
                          {{userForm.get('lastname')?.errors?.['minlength'].requiredLength}} caracteres.</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="mb-3 form-floating form-group col">
                        <label for="pass" class="col-form-label py-1">Contraseña:</label>
                        <input type="password" class="form-control" id="pass" formControlName="pass">
                        <div *ngIf="userForm.get('pass')?.touched && userForm.get('pass')?.errors?.['required']"
                          class="alert mt-3 alert-danger">La Contraseña es requerida.</div>
                        <div *ngIf="userForm.get('pass')?.touched && userForm.get('pass')?.errors?.['minlength']"
                          class="alert mt-3 alert-danger">La contraseña debe de tener minimo
                          {{userForm.get('pass')?.errors?.['minlength'].requiredLength}} caracteres.</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="mb-3 form-floating form-group col">
                        <label for="cedula" class="col-form-label py-1">Cedula:</label>
                        <input type="text" class="form-control" id="cedula" formControlName="cedula">
                        <div *ngIf="userForm.get('cedula')?.touched && userForm.get('cedula')?.errors?.['required']"
                          class="alert mt-3 alert-danger">La cedula es requerida.</div>
                        <div *ngIf="userForm.get('cedula')?.touched && userForm.get('cedula')?.errors?.['minlength']"
                          class="alert mt-3 alert-danger">La cedula debe de tener minimo
                          {{userForm.get('cedula')?.errors?.['minlength'].requiredLength}} caracteres.</div>
                      </div>
                      <div class="mb-3 form-floating form-group col">
                        <label for="age" class="col-form-label py-1">Edad:</label>
                        <input type="number" class="form-control" id="age" formControlName="age">
                        <div *ngIf="userForm.get('age')?.touched && userForm.get('age')?.errors?.['required']"
                          class="alert mt-3 alert-danger">La edad es requerida.</div>
                        <div *ngIf="userForm.get('age')?.touched && userForm.get('age')?.errors?.['min']" class="alert mt-3 alert-danger">
                          La edad debe de ser mayor a 1.</div>
                  
                      </div>
                    </div>
                    <div class="row">
                      <div class="mb-3 form-floating form-group col">
                        <label for="phone" class="col-form-label py-1">Telefono:</label>
                        <input type="text" class="form-control" id="phone" formControlName="phone">
                        <div *ngIf="userForm.get('phone')?.touched && userForm.get('phone')?.errors?.['minlength']"
                          class="alert mt-3 alert-danger">El telefono debe de tener minimo
                          {{userForm.get('phone')?.errors?.['minlength'].requiredLength}} caracteres.</div>
                      </div>
                    </div>
                    <span *ngIf="error" class="text-danger px-1">{{error}}</span>
                    <div class="py-2"></div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" routerLink="dashboard">
                        Cerrar
                      </button>
                        <button type="button" class="btn btn-primary" type="submit" [disabled]="userForm.invalid">
                          Editar Usuario
                        </button>
                      
                      
                    </div>
                  </form>
            </div>
        </div>
    </div>
