<app-header title="Cronogramas"></app-header>

<hr>
<div class="jumbotron">
    <div class="card shadow border-0 mb-7">
        <div class="card-header">
            <div class="row">
                <h5 class="mb-0 col">Cronograma {{showButton}}</h5>
                    <ng-container *ngIf="showButton">
                        <app-modal [scheduleForm]="true" modalId="modal" (emitData)="newValue($event)" class="col text-sm-end"></app-modal>
                    </ng-container>
            </div>
        </div>
        <app-table [colNames]="columnNames" [columns]="columns" [rowData]="scheduleList" [scheduleModal]="true" [operations]="op" (onEdit)="edit($event)" (onDelete)="delete($event)"></app-table>
    </div>  
</div>