
    <!-- Header -->
    <header class="bg-surface-primary border-bottom pt-6">
        <div class="container-fluid">
            <div class="mb-npx">
                <div class="row align-items-center">
                    <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                        <h2 class="text-dark">Bienvenido 
                            <span class="text-primary">{{getUserInfo()}}</span>
                        </h2>
                        
                    </div>
                    <div class="col-sm-6 col-12 text-sm-end">
                        <div class="mx-n1">
                            <span class="mx-auto h2 mb-0 ls-tight text-center">Dashboard</span>
                        </div>
                    </div>
                </div>
                <ul class="nav nav-tabs mt-4 overflow-x border-0">
                </ul>
            </div>
        </div>
    </header> 
    <main class="py-6 bg-surface-secondary">
        <div class="container-fluid">
            
            <div class="row g-6 mb-6">
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card shadow border-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">Tenemos</span> <span class="h3 font-bold mb-0">{{stats?.inventory}} articulos</span> </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle"> <i class="bi bi-credit-card"></i> </div>
                                </div>
                            </div>
                            <div class="mt-2 mb-0 text-sm"> <span class="badge badge-pill bg-soft-success text-success me-2"></span> <span class="text-nowrap text-xs text-muted">en nuestros inventarios.</span> </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card shadow border-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">Contamos con </span> <span class="h3 font-bold mb-0">{{stats?.clients}} clientes</span> </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-primary text-white text-lg rounded-circle"> <i class="bi bi-people"></i> </div>
                                </div>
                            </div>
                            <div class="mt-2 mb-0 text-sm"> <span class="badge badge-pill bg-soft-success text-success me-2"> </span> <span class="text-nowrap text-xs text-muted">registrados en SIHAM.</span> </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card shadow border-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">Hemos registrado</span> <span class="h3 font-bold mb-0">{{stats?.sales}} ventas</span> </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-info text-white text-lg rounded-circle"> <i class="bi bi-clock-history"></i> </div>
                                </div>
                            </div>
                            <div class="mt-2 mb-0 text-sm"> <span class="badge badge-pill bg-soft-danger text-danger me-2"></span> <span class="text-nowrap text-xs text-muted">totales en el sistema.</span> </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card shadow border-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">Nuestros vendedores han facturado</span> <span class="h3 font-bold mb-0">{{stats?.bills}} ventas</span> </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-warning text-white text-lg rounded-circle"> <i class="bi bi-minecart-loaded"></i> </div>
                                </div>
                            </div>
                            <div class="mt-2 mb-0 text-sm"> <span class="badge badge-pill bg-soft-success text-success me-2"> </span> <span class="text-nowrap text-xs text-muted">en el sistema.</span> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow border-0 mb-7">
                <div class="card-header">
                    <h5 class="mb-0">ULTIMAS FACTURACIONES</h5>
                </div>
                <app-table [colNames]="columnNames" [columns]="columns" [rowData]="bills" [operations]="{edit:false,delete:false}" (onEdit)="editItem($event)" (onDelete)="deleteItem($event)"></app-table>
                </div>    
            
                <div class="card shadow border-0 mb-7">
                    <canvas id="myChart"></canvas>
                    
                </div>  
        </div>
    </main>
