<form (ngSubmit)="sendData()" [formGroup]="dataForm">
    <div class="row">
        <div class="mb-3 form-floating form-group col">
            <label for="item" class="col-form-label py-1">Selecciona el Articulo:</label>
            <select class="form-select" aria-label="Seleccion de Rol" name="item" id="item" formControlName="item">
                <option selected value="">Selecciona un Articulo</option>
                <option *ngFor="let item of inventoryList" [value]="item.item.id" (click)="addItem(item)">{{item.item.name}}</option>
            </select>
            <div *ngIf="dataForm.get('item')?.touched && dataForm.get('item')?.errors?.['required']"
                class="alert mt-3 alert-danger">El articulo es requerido.</div>
        </div>
        <div class="mb-3 form-floating form-group col">
            <label for="quantity" class="col-form-label py-1">Cantidad:</label>
            <input type="number" class="form-control" id="quantity" formControlName="quantity">
            <div *ngIf="dataForm.get('quantity')?.touched && dataForm.get('quantity')?.errors?.['required']"
                class="alert mt-3 alert-danger">La cantidad es requerida.</div>
            <div *ngIf="dataForm.get('quantity')?.touched && dataForm.get('quantity')?.errors?.['min']"
                class="alert mt-3 alert-danger">
                La cantidad debe de ser mayor o igual a 0.</div>
        </div>
    </div>
    <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let i of selectedItems" (click)="removeItem(i)">
          <div class="ms-2 me-auto">
            <div class="fw-bold">{{i.item.name}}</div>
            Stock actual: 
            <span *ngIf="i.stock === 0" class="text-danger">{{i.stock}}, </span>
            <span *ngIf="i.stock > 0 && i.stock<5" class="text-warning">{{i.stock}}, </span>
            <span *ngIf="i.stock > 5" class="text-success">{{i.stock}}, </span>
            Cantidad a agregar: {{i.quantity}}
          </div>
          
          <span class="badge bg-danger rounded-pill">Click Para Eliminar</span>
        </li>
      </ol>
    <div class="row">
        <div class="mb-3 mt-1 form-floating form-group col">
            <label for="price" class="col-form-label py-1">Precio:</label>
            <input type="number" class="form-control" id="price" formControlName="price">
            <div *ngIf="dataForm.get('price')?.touched && dataForm.get('price')?.errors?.['required']"
                class="alert mt-3 alert-danger">El precio es requerida.</div>
            <div *ngIf="dataForm.get('price')?.touched && dataForm.get('price')?.errors?.['min']"
                class="alert mt-3 alert-danger">
                El precio debe de ser mayor a 0.</div>
        </div>
    </div>
    
    <span *ngIf="error" class="text-danger px-1">{{error}}</span>
    <div class="py-2"></div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cerrar
        </button>
        <ng-container *ngIf="data; else elseTemplate">
            <button type="button" class="btn btn-primary" type="submit" [disabled]="dataForm.invalid || selectedItems.length < 1">
                Editar
            </button>
        </ng-container>
        <ng-template #elseTemplate>
            <button type="button" class="btn btn-primary" type="submit" [disabled]="dataForm.invalid || selectedItems.length < 1">
                Crear
            </button>
        </ng-template>
    </div>
</form>